PerpetualPaint/.vs
PerpetualPaint/bin/*
PerpetualPaint/obj/*
PerpetualPaintLibrary/.vs
PerpetualPaintLibrary/bin/*
PerpetualPaintLibrary/obj/*
PerpetualPaintTest/.vs
PerpetualPaintTest/bin/*
PerpetualPaintTest/obj/*
